spring:
  application:
    name: game-store-api

  datasource:
    url: jdbc:postgresql://localhost:5432/game-store-app
    username: postgres
    password: Omotosho3664!

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
